@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 720px;
    padding: 0px;
    background-color: #84E1AD;
}
h1#titulo-principal{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    letter-spacing: 1px;
    color: white;
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.466);
}
p#para-cabecalho {
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    color: snow;
}
nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    position: absolute;
    bottom: 398px;
    left: -28px;
}
nav#menu li {
    font-weight: bold;
    color: snow;
    display: inline-block;
    padding: 6px;
    margin: 2px;
}
header{ 
    background-color: green;
    background-image: linear-gradient(to bottom, #35BF73, #1B5936);
    width: 1240px;
    margin: -10px;
    padding: 14px 13px;
}
section {
    background-color: snow;
    width: 800px;
    margin: 10px 10px 10px 200px;
    padding: 1px 10px;
    border-radius: 10px;
}
aside {
    background-color: #C5EBD6;
    border-radius: 10px;
}
h1#titulo {
    font-family: 'idroid', sans-serif;
    color: #276543;
}
h2 {
    font-family: 'idroid', sans-serif;
    background-color: #E5F7EC;
    color: #276543;
}
h3 {
    color: white;
    background-color: #2FA866;
    padding: 8px;
    border-radius: 10px 5px;
}
p {
    text-align: justify;
}
div#imagem {
   width: 100px;
   height: 100px;
   display: inline-block;
   position: relative;
   left: 25%;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
section#video {
    background-color: darkgreen;
    display: block;
    position: relative;
    left: -2%;
    width: 790px;
    margin: 10px 10px 10px 10px;
    border: solid darkgreen;
}
iframe {
    width: 760px; 
    height: 355px;
    padding: 10px;
}
ul.lista {
    font-weight: bold;
  list-style-type: "\2714\0020\0020";  
  list-style-position: inside;
}
div {
    height: 200px;
    width: 200px;
}
#div1 {
    margin: 0px 10px 0px 10px;
    display: inline-block;
    padding: 1px;
    text-align: left;
    line-height: 20px;
    white-space: nowrap;
}
#div2 {
    margin: -900px 0px 0px 150px;
    display: inline-block;
    text-align: justify;
    padding: 1px;
    line-height: 20px;
}
.paragrafo {
    text-align: justify;
    margin: 1px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 25px;
}
span {
    color: #5f9879;
    font-weight: bold;
}
footer {
    text-align: center;
    color: rgb(233, 230, 230);
    font-weight: lighter;
    background-color: #1B5936;
    padding: 3px;
    margin: 0px -535px -20px -100px;
}